# Windows
Thumbs.db
Desktop.ini

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Python
env/
venv/
__pycache__/
*.py[cod]

# VSCode
.vscode/

# JetBrains
.idea/
*.iml

# diretórios temporários
.DS_Store
*.swp
*.swo

# Arquivos de sistema
*.bak
*.tmp

# Logs
*.log

# Outros
*.zip
*.tar.gz
